bin/
obj/
packages/
Intermediate/
Debug/
Release/
.vs/
artifacts/
output/
AppPackages/
BundleArtifacts/

*.suo
*.user
*.nuget.targets
*.lock.json
*.VC.db
*.VC.opendb
*.nvuser
*.nuget.props
generate.info
WaveContent.cs
UpgradeLog*.htm
*.payload.desc

