build/android/
!build/android/ManagedCrunch.targets

build/uwp/
!build/uwp/ManagedCrunch.targets

build/windows/
!build/windows/ManagedCrunch.targets

build/ios/
!build/ios/ManagedCrunch.targets
!build/ios/ManagedCrunch.dll.config
